.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 72px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 64px;
}

.headerLink {
  flex-shrink: 0;
}

.headerNav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerNav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #101828;
}

.link:hover,
.link:focus {
  color: #d84343;
}
