.catalogSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.loadMoreWrapper {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 32px;
}

.loadMoreBtn {
  white-space: nowrap;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: #ffffff;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #101828;
}
