.card {
  display: flex;
  justify-content: center;
}

.cardTrack {
  display: flex;
  align-items: flex-start;
  width: 888px;
  min-height: 368px;

  border: 1px solid #dadde1;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 24px;

  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.image {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #101828;
}

.likeHeart {
}
.rating {
}

.starIcon {
  stroke: #ffc531;
  fill: #ffc531;
}

.ratingValue {
}
.reviewCount {
}
.mapIcon {
}
.location {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.tagItem {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  width: auto;
  height: 48px;

  background: #f2f4f7;
  mix-blend-mode: multiply;
}
.icon {
}

.btnWrapper {
  margin-top: auto;
  align-self: flex-start;
}
